https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

https://pandas.pydata.org/docs/user_guide/index.html

In [2]:
import pandas as pd
#from IPython.display import display

In [3]:
project = "ppxlib/"
timing_filename = project + "timing.json"
files = project + "files.json"

In [4]:
files_frame = pd.read_json(files, lines = True)
files_filtered = files_frame.query("not filename.str.startswith('../../ppxlib/_opam/') and not filename.str.startswith('../../ppxlib/_build/')")

NameError: name 'files' is not defined

In [ ]:
files_filtered

      file_id                                           filename
979      1387                            ../../ppxlib/ast/ast.ml
980      1386                 ../../ppxlib/ast/location_error.ml
981      1385                         ../../ppxlib/ast/import.ml
982      1384                ../../ppxlib/ast/ast_helper_lite.ml
983      1383                     ../../ppxlib/ast/ppxlib_ast.ml
...       ...                                                ...
1124     1242        ../../ppxlib/test/type_is_recursive/test.ml
1125     1241  ../../ppxlib/test/expansion_context/map_struct...
1126     1240  ../../ppxlib/test/expansion_context/standalone...
1127     1239  ../../ppxlib/test/expansion_context/register_p...
1128     1238  ../../ppxlib/test/expand-header-and-footer/tes...

[150 rows x 2 columns]

In [ ]:
# just for debugging when json doesn't load correctly in next block
import json
for l in open(timing_filename, "r") :
    json.loads(l)

In [ ]:
timing = pd.read_json(timing_filename, lines = True)

timing = pd.merge(timing, files_filtered, on = "file_id")

In [ ]:
ti = timing.sort_values("max_timing", ascending = False)
ti.drop(columns=["sample_id"])

,timings,max_timing,file_id,query_type,filename
29,"[524, 184, 164, 172, 171, 170, 128, 98, 96, 98]",524,1387,locate,../../ppxlib/ast/ast.ml
166,"[248, 7, 6, 6, 6, 6, 7, 7, 8, 6]",248,1382,locate,../../ppxlib/ast/versions.ml
2690,"[191, 34, 33, 33, 30, 33, 31, 34, 36, 30]",191,1281,locate,../../ppxlib/traverse/ppxlib_traverse.ml
749,"[191, 26, 25, 25, 30, 25, 25, 25, 25, 28]",191,1357,locate,../../ppxlib/astlib/pprintast.ml
18,"[108, 123, 190, 166, 164, 174, 170, 158, 97, 106]",190,1387,locate,../../ppxlib/ast/ast.ml
...,...,...,...,...,...
1608,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",0,1323,locate,../../ppxlib/astlib/pp/pp.ml
1613,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",0,1323,locate,../../ppxlib/astlib/pp/pp.ml
2795,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",0,1273,locate,../../ppxlib/test/error_embedding/extender.ml
2948,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",0,1260,locate,../../ppxlib/test/driver/exception_handling/ex...
1616,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",0,1323,locate,../../ppxlib/astlib/pp/pp.ml

In [ ]:
ti.query('file_id == 1387')

,timings,max_timing,file_id,query_type,sample_id,filename
29,"[524, 184, 164, 172, 171, 170, 128, 98, 96, 98]",524,1387,locate,35739,../../ppxlib/ast/ast.ml
18,"[108, 123, 190, 166, 164, 174, 170, 158, 97, 106]",190,1387,locate,35750,../../ppxlib/ast/ast.ml
13,"[169, 188, 99, 102, 102, 111, 108, 162, 184, 168]",188,1387,locate,35755,../../ppxlib/ast/ast.ml
16,"[133, 107, 103, 113, 187, 162, 164, 173, 166, ...",187,1387,locate,35752,../../ppxlib/ast/ast.ml
8,"[111, 187, 173, 168, 180, 179, 147, 104, 132, ...",187,1387,locate,35760,../../ppxlib/ast/ast.ml
9,"[187, 171, 169, 172, 169, 166, 107, 104, 104, ...",187,1387,locate,35759,../../ppxlib/ast/ast.ml
5,"[124, 104, 105, 110, 185, 163, 171, 172, 165, ...",185,1387,locate,35763,../../ppxlib/ast/ast.ml
12,"[167, 171, 148, 98, 129, 107, 107, 112, 185, 177]",185,1387,locate,35756,../../ppxlib/ast/ast.ml
1,"[167, 169, 159, 95, 125, 113, 105, 109, 184, 170]",184,1387,locate,35767,../../ppxlib/ast/ast.ml
11,"[169, 169, 168, 163, 100, 100, 109, 106, 109, ...",184,1387,locate,35757,../../ppxlib/ast/ast.ml
25,"[109, 132, 110, 106, 103, 147, 183, 165, 166, ...",183,1387,locate,35743,../../ppxlib/ast/ast.ml
28,"[101, 112, 172, 178, 183, 180, 181, 157, 107, ...",183,1387,locate,35740,../../ppxlib/ast/ast.ml
24,"[170, 140, 106, 104, 105, 101, 145, 183, 170, ...",183,1387,locate,35744,../../ppxlib/ast/ast.ml
3,"[162, 95, 128, 105, 104, 105, 155, 183, 171, 166]",183,1387,locate,35765,../../ppxlib/ast/ast.ml
27,"[107, 104, 112, 181, 170, 165, 164, 171, 174, 94]",181,1387,locate,35741,../../ppxlib/ast/ast.ml
23,"[172, 161, 106, 123, 112, 104, 102, 149, 181, ...",181,1387,locate,35745,../../ppxlib/ast/ast.ml
26,"[97, 106, 102, 96, 142, 181, 168, 165, 169, 165]",181,1387,locate,35742,../../ppxlib/ast/ast.ml
15,"[99, 104, 100, 102, 105, 151, 180, 175, 172, 169]",180,1387,locate,35753,../../ppxlib/ast/ast.ml
17,"[103, 102, 95, 178, 180, 168, 173, 168, 132, 123]",180,1387,locate,35751,../../ppxlib/ast/ast.ml
19,"[128, 178, 175, 167, 168, 172, 119, 113, 122, ...",178,1387,locate,35749,../../ppxlib/ast/ast.ml
22,"[170, 169, 161, 139, 99, 101, 100, 105, 139, 178]",178,1387,locate,35746,../../ppxlib/ast/ast.ml
10,"[177, 171, 170, 174, 139, 106, 124, 113, 107, 96]",177,1387,locate,35758,../../ppxlib/ast/ast.ml
20,"[173, 170, 176, 174, 175, 151, 104, 101, 112, ...",176,1387,locate,35748,../../ppxlib/ast/ast.ml
2,"[167, 176, 96, 96, 105, 102, 99, 147, 174, 170]",176,1387,locate,35766,../../ppxlib/ast/ast.ml
0,"[162, 164, 168, 167, 98, 103, 102, 104, 110, 174]",174,1387,locate,35768,../../ppxlib/ast/ast.ml
14,"[159, 93, 130, 103, 99, 112, 159, 174, 171, 169]",174,1387,locate,35754,../../ppxlib/ast/ast.ml
4,"[99, 100, 100, 108, 101, 145, 174, 170, 171, 164]",174,1387,locate,35764,../../ppxlib/ast/ast.ml
7,"[100, 126, 160, 171, 168, 165, 162, 168, 99, 98]",171,1387,locate,35761,../../ppxlib/ast/ast.ml
21,"[169, 168, 168, 162, 110, 119, 111, 99, 111, 135]",169,1387,locate,35747,../../ppxlib/ast/ast.ml
6,"[99, 101, 112, 168, 168, 168, 165, 164, 142, 101]",168,1387,locate,35762,../../ppxlib/ast/ast.ml

In [ ]:
filenames = pd.read_json(files, lines = True)
filenames

    file_id                           filename
0        12                      ./bin/data.ml
1        11                  ./bin/bin_tree.ml
2        10                    ./bin/import.ml
3         9                      ./bin/main.ml
4         8       ./_build/default/bin/data.ml
5         7   ./_build/default/bin/bin_tree.ml
6         6  ./_build/default/bin/import.pp.ml
7         5     ./_build/default/bin/import.ml
8         4    ./_build/default/bin/main.pp.ml
9         3    ./_build/default/bin/data.pp.ml
10        2       ./_build/default/bin/main.ml

In [ ]:
filenames.index = filenames.file_id

In [ ]:
filenames

         file_id                           filename
file_id
12            12                      ./bin/data.ml
11            11                  ./bin/bin_tree.ml
10            10                    ./bin/import.ml
9              9                      ./bin/main.ml
8              8       ./_build/default/bin/data.ml
7              7   ./_build/default/bin/bin_tree.ml
6              6  ./_build/default/bin/import.pp.ml
5              5     ./_build/default/bin/import.ml
4              4    ./_build/default/bin/main.pp.ml
3              3    ./_build/default/bin/data.pp.ml
2              2       ./_build/default/bin/main.ml

In [ ]:
filenames.loc[9].filename

'./bin/main.ml'

In [ ]:
filenames.at[9, "filename"]

'./bin/main.ml'